{{ define "main" }}
<div class="about-image-container">
    <img src="/images/aboutus.png" alt="About us image 1">
</div>

<div class="about-image-container-thin">
    <img src="/images/customerreview.png" alt="About us image 2">
</div>

<div class="about-text-container">
    <div class="text-box">
        <p class="reviewer-name">Sarah H.</p>
        <p class="rating">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p>"Your Party Besties are simply the best! They planned our company's annual event, and I am still hearing compliments from our employees about how well organized and fun it was. From our initial consultation, it was clear that they were listening to our needs and had fantastic ideas to make the day special. On the day of the event, everything went smoothly, allowing me and my team to focus on enjoying the event instead of worrying about the logistics. They sourced excellent vendors, created a beautiful environment, and ensured the event was COVID-safe. Your Party Besties really went above and beyond to make our event successful. Highly recommend them for any event planning needs!"</p>
    </div>

    <div class="text-box">
        <p class="reviewer-name">Kat B.</p>
        <p class="rating">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p>"The Party Besties absolutely nailed the design for our company happy hour. The matched our brand colors perfectly, were so organized during the set up and it was so stress free. The balloon display really elevated the party and was the perfect photo moment! Thank you!"</p>
    </div>

    <div class="text-box">
        <p class="reviewer-name">Mark J.</p>
        <p class="rating">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p>"I am absolutely blown away by Your Party Besties. I hired them to plan my daughter's Sweet 16, and they absolutely exceeded all of our expectations. Their attention to detail, creativity, and dedication made the party a day to remember. The team was professional, approachable, and made sure every aspect of the party was perfect. The decor was stunning, the catering recommendations were spot on, and they even organized some amazing surprise performances that had my daughter and her friends ecstatic. I am so grateful to Your Party Besties for taking the stress out of planning and delivering a memorable event. Can't wait for the next occasion to work with them again!"</p>
    </div>
</div>
{{ end }}
