{{ define "main" }}
<section id="faq">
  <div class="faq-heading">
      <img src="/images/faq.png" alt="FAQ">
  </div>

<div class="faq-section">

  <div class="faq-box">
      <p class="faq-question">Do you require a deposit?</p>
      <p class="faq-answer">An initial 75% deposit and a signed contract must be secured within 24 hours of invoice and contract being sent out to secure the date and render any services or products being purchased by the Vendor for your event.</p>
  </div>
  <div class="faq-box">
      <p class="faq-question">How long does it take to istall?</p>
      <p class="faq-answer">Installation date and time will be agreed upon, in writing, by the Client and Vendor 1 (one) week prior to the event date and time. Installations will take a minimum of 2 (two) hours to setup. Client agrees that Vendor may be onsite for installation for minimum of 2 hours and will make the appropriate coordinations shall the event be at a third party site. Client will make a possible effort to allow Vendor to setup a minimum of 3 hours prior to event start time. If possible, the Vendor may request setup to be a day prior to the event date for installation. Timing is subject to change based on size of installation. </p>
  </div>
  <div class="faq-box">
      <p class="faq-question">What is the delivery and setup fees</p>
      <p class="faq-answer">For all installations outside of grab and go garlands, additional fees are applicable for delivery and setup, such as but not limited to, round trip milage, and truck rentals for installations. A minimum $100 delivery and setup fee will be applied to all invoices, additional fees will be listed in the invoice. All fees will be provided by the Vendor with agreement of payment invoiced.

      </p>
  </div>
  <div class="faq-box">
      <p class="faq-question">Will you take down the balloons?</p>
      <p class="faq-answer">Balloon installations can last anywhere from a couple days to a month depending on outside factors such as weather, touching of the balloons and more. The Client will make a conscious choice to leave the installation up if wanted based on where the installation is held. Client is responsible for tearing down balloons after their event. Vendor will not be responsible for tearing down any installation unless agreed upon with additional fees. 

          If rental equipment is attached to any installation, Client will take the installation off the rentals before the Vendor picks up the rentals. If the installation is not removed from the rentals, Client agrees to pay an additional $50 to remove the installation off the rentals. This will not including popping of the balloons or disposal. See rental agreement more for information if applicable. </p>
  </div>


</div>
{{ end }}
