{{ define "main" }}
<div class="service-container">
    <div class="service-image">
        <img src="/images/rentals.png" alt="Service Image 1">
    </div>
    <div class="service-description">
        <p>Set the stage for your celebration with Your Party Besties' party backdrop rentals. We understand that a party backdrop sets the mood, creates a focal point, and makes for incredible photographs. That's why we provide a diverse selection of high-quality, enchanting backdrops, perfect for any event, theme, or style.

            Our offerings range from themed backdrops for children's parties - think enchanting princess castles, whimsical forests, or superhero cityscapes - to sophisticated and elegant backdrops ideal for formal events or adult birthdays. If you're planning a baby shower or a bridal party, our serene and beautiful floral wall backdrops create a calming, chic ambiance. For the more adventurous, we offer exciting, customized backdrops designed to make a statement and reflect your unique personality.

            Every backdrop we provide is designed to stand out, captivating your guests and providing a stunning background for those memorable photographs. They are easy to set up and dismantle, making your party planning process that much smoother. With Your Party Besties' backdrop rentals, you're not just renting a backdrop - you're creating an experience and memories that will last a lifetime.</p>
    </div>
    <div class="service-image">
        <img src="/images/product1.png" alt="Service Image 1">
    </div>
    <div class="service-image">
        <img src="/images/product2.png" alt="Service Image 1">
    </div>

    <div class="service-image">
        <img src="/images/colors.png" alt="Service Image 2">
    </div>
    <div class="service-description">
        <p>At Your Party Besties, we believe that balloons are the life of any party, setting the tone for joy, vibrancy, and unforgettable celebrations. That's why we are committed to providing only premium quality balloons in a veritable rainbow of colors. From vibrant reds and soothing blues to playful yellows and elegant blacks, we offer a broad palette of colors to suit every theme and occasion. We understand that every celebration is unique, and so are its aesthetics. Whether you're planning a soft pastel-themed baby shower or a jubilant, multi-colored birthday bash, our top-grade balloons promise the perfect pop of color. Their superior durability ensures they last throughout your event, retaining their shape and brightness to keep your venue looking spectacular. Trust Your Party Besties to provide the finest balloons that make your party setups soar to new heights of fun and elegance.</p>
    </div>
    <div class="service-image">
        <img src="/images/pick-your-colors-custom-balloon-garland-kit.webp" alt="Service Image 2">
    </div>
    <div class="service-image">
        <img src="/images/balloonmenu.png" alt="Service Image 2">
    </div>
    <div class="service-description">
        <p>We believe in <i>complete</i> transparency with our customers which is why we have a straightforward pricing structure. All our organic garlands start at a rate of $30 per linear foot. We also offer a convenient Grab-N-Go option for organic garlands that are 10 feet and below. This option allows for quick and hassle-free collection, perfect for impromptu celebrations or smaller venues.

            For garlands above 10 feet, we recognize the potential complexity and additional requirements for setup. Thus, these larger projects will require additional fees and are eligible for our professional installation services. Our team of expert decorators are skilled at bringing your vision to life, ensuring that each garland is installed to perfection.

            At Your Party Besties, we're committed to making your party pop. Our organic balloon garlands are a testament to that commitment, adding a pop of fun and elegance to your special occasion.
            <table>
                <thead>
                    <tr>
                        <th>Balloon Length (FT)</th>
                        <th>Price ($)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10</td>
                        <td>300.00</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>600.50</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>900.00</td>
                    </tr>
                    <tr>
                        <td>40</td>
                        <td>1200.00</td>
                    </tr>
                    <tr>
                        <td>50</td>
                        <td>1500.00</td>
                    </tr>
                </tbody>
            </table>
           </p>
        </div>
        <a href="/contactus">
            <img src="/images/makemypartypop.png" alt="logo" class="logo">
        </a>

</div>
{{ end }}
