{{ define "main" }}
<div class="image-box">
    <img src="/images/IMG_2286.JPG" alt="Image 1">
    <img src="/images/IMG_3795.JPG" alt="Image 2">
    <img src="/images/IMG_5260.JPG" alt="Image 3">
    <img src="/images/IMG_7059.HEIC" alt="Image 4">
    <img src="/images/IMG_8639.HEIC" alt="Image 5">
    <img src="/images/IMG_9893.HEIC" alt="Image 6">
    <img src="/images/IMG_9956.JPG" alt="Image 7">
    <img src="/images/IMG_4855.HEIC" alt="mid image">
    <img src="/images/PartyBesties-05.HEIC" alt="Image 8">
    <img src="/images/IMG_0036.JPG" alt="Image 9">
    <img src="/images/IMG_3869.JPG" alt="Image 10">
    <img src="/images/IMG_2286.JPG" alt="Image 11">
    <img src="/images/IMG_2482.JPG" alt="Image 12">
    <img src="/images/IMG_2322.HEIC" alt="Image 13">
    <img src="/images/IMG_3672.JPG" alt="Image 14">
    <img src="/images/IMG_3795.JPG" alt="Image 15">
</div>
{{ end }}
